In [2]:
import pandas as pd
import numpy as np

In [13]:
import pandas as pd

# Full Compensation Schema Column Names
full_columns = [
    'Staff First Name', 'Staff Last Name', 'workmarket ID', 'TTCM - Staff',
    'Pay Period Start Date', 'Pay Period End Date', 'Location ID',
    'Schedule Task Name', 'Schedule Start Date', 'Schedule Start Time',
    'Schedule End Date', 'Schedule End Time', 'Schedule Duration (hours)',
    'Pay Code Label', 'Pay Code ID', 'Pay Rate', 'Hours/Units',
    'Hours Rounded', 'Amount', 'Unplanned Start Date', 'Unplanned Time Clock',
    'Task Abbreviation', 'Schedule Note', 'Time Punch Notes', 'Clock In Note',
    'Clock Out Note', 'Adjustment Note', 'Compensation Note'
]

# Sample data to match the provided comp_data structure while filling out all required columns
extended_comp_data = {
    'Staff First Name': [
        'John', 'John', 'John',
        'Alice', 'Alice',
        'Bob',
        'Carol', 'Carol', 'Carol',
        'Dave', 'Dave',
        'Eva',
        'Frank', 'Frank',
        'Grace'
    ],
    'Staff Last Name': [
        'Doe', 'Doe', 'Doe',
        'Smith', 'Smith',
        'Brown',
        'Taylor', 'Taylor', 'Taylor',
        'Lee', 'Lee',
        'White',
        'Green', 'Green',
        'Hall'
    ],
    'Pay Period Start Date': [
        '2024-06-01', '2024-06-01', '2024-06-01',
        '2024-05-01', '2024-05-01',
        '2024-05-01',
        '2024-07-01', '2024-07-01', '2024-07-01',
        '2024-05-01', '2024-05-01',
        '2024-07-01',
        '2024-06-01', '2024-06-01',
        '2024-07-01'
    ],
    'Location ID': [
        'LOC1', 'LOC2', 'LOC3',
        'LOC1', 'LOC2',
        'LOC1',
        'LOC1', 'LOC2', 'LOC3',
        'LOC1', 'LOC2',
        'LOC1',
        'LOC2', 'LOC3',
        'LOC1'
    ],
    'Schedule Duration (hours)': [
        0, 3, 0,
        7, 0,
        4,
        5, 6, 0,
        6, 5,
        6,
        4, 0,
        7
    ],
    'Pay Code Label': [
        'Regular', 'CALL', 'Regular',
        'CALL', 'Regular',
        'Regular',
        'Regular', 'CALL', 'Bonus',
        'Regular', 'CALL',
        'Regular',
        'CALL', 'Regular',
        'CALL'
    ],
    'Hours Rounded': [
        4, 0, 3,
        0, 8,
        4,
        5, 0, 0,
        6, 0,
        6,
        0, 7,
        7
    ]
}

# Generate dummy/filler values for the remaining columns to complete schema
num_rows = len(extended_comp_data['Staff First Name'])

additional_columns = {
    'workmarket ID': [f'WM{100+i}' for i in range(num_rows)],
    'TTCM - Staff': ['Y'] * num_rows,
    'Pay Period End Date': ['2024-06-15'] * num_rows,
    'Schedule Task Name': ['Shift'] * num_rows,
    'Schedule Start Date': ['2024-06-01'] * num_rows,
    'Schedule Start Time': ['08:00'] * num_rows,
    'Schedule End Date': ['2024-06-01'] * num_rows,
    'Schedule End Time': ['16:00'] * num_rows,
    'Pay Code ID': ['R' if lbl == 'Regular' else lbl for lbl in extended_comp_data['Pay Code Label']],
    'Pay Rate': [30] * num_rows,
    'Hours/Units': extended_comp_data['Schedule Duration (hours)'],
    'Amount': [100] * num_rows,
    'Unplanned Start Date': [None] * num_rows,
    'Unplanned Time Clock': [None] * num_rows,
    'Task Abbreviation': ['REG'] * num_rows,
    'Schedule Note': [''] * num_rows,
    'Time Punch Notes': [''] * num_rows,
    'Clock In Note': [''] * num_rows,
    'Clock Out Note': [''] * num_rows,
    'Adjustment Note': [''] * num_rows,
    'Compensation Note': [''] * num_rows
}

# Combine dictionaries
combined_data = {**extended_comp_data, **additional_columns}

# Create DataFrame and re-order columns
df_comp_full = pd.DataFrame(combined_data)[full_columns]
display(df_comp_full)

,Staff First Name,Staff Last Name,workmarket ID,TTCM - Staff,Pay Period Start Date,Pay Period End Date,Location ID,Schedule Task Name,Schedule Start Date,Schedule Start Time,...,Amount,Unplanned Start Date,Unplanned Time Clock,Task Abbreviation,Schedule Note,Time Punch Notes,Clock In Note,Clock Out Note,Adjustment Note,Compensation Note
0,John,Doe,WM100,Y,2024-06-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
1,John,Doe,WM101,Y,2024-06-01,2024-06-15,LOC2,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
2,John,Doe,WM102,Y,2024-06-01,2024-06-15,LOC3,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
3,Alice,Smith,WM103,Y,2024-05-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
4,Alice,Smith,WM104,Y,2024-05-01,2024-06-15,LOC2,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
5,Bob,Brown,WM105,Y,2024-05-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
6,Carol,Taylor,WM106,Y,2024-07-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
7,Carol,Taylor,WM107,Y,2024-07-01,2024-06-15,LOC2,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
8,Carol,Taylor,WM108,Y,2024-07-01,2024-06-15,LOC3,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
9,Dave,Lee,WM109,Y,2024-05-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
10,Dave,Lee,WM110,Y,2024-05-01,2024-06-15,LOC2,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
11,Eva,White,WM111,Y,2024-07-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
12,Frank,Green,WM112,Y,2024-06-01,2024-06-15,LOC2,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
13,Frank,Green,WM113,Y,2024-06-01,2024-06-15,LOC3,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,
14,Grace,Hall,WM114,Y,2024-07-01,2024-06-15,LOC1,Shift,2024-06-01,08:00,...,100,None,None,REG,,,,,,

In [17]:
# Display only the required columns relevant to the analysis
required_columns = [
    'Staff First Name',
    'Staff Last Name',
    'Pay Period Start Date',
    'Location ID',
    'Schedule Duration (hours)',
    'Pay Code Label',
    'Hours Rounded'
]

df_comp_full_required = df_comp_full[required_columns]
display(df_comp_full_required)

,Staff First Name,Staff Last Name,Pay Period Start Date,Location ID,Schedule Duration (hours),Pay Code Label,Hours Rounded
0,John,Doe,2024-06-01,LOC1,0,Regular,4
1,John,Doe,2024-06-01,LOC2,3,CALL,0
2,John,Doe,2024-06-01,LOC3,0,Regular,3
3,Alice,Smith,2024-05-01,LOC1,7,CALL,0
4,Alice,Smith,2024-05-01,LOC2,0,Regular,8
5,Bob,Brown,2024-05-01,LOC1,4,Regular,4
6,Carol,Taylor,2024-07-01,LOC1,5,Regular,5
7,Carol,Taylor,2024-07-01,LOC2,6,CALL,0
8,Carol,Taylor,2024-07-01,LOC3,0,Bonus,0
9,Dave,Lee,2024-05-01,LOC1,6,Regular,6
10,Dave,Lee,2024-05-01,LOC2,5,CALL,0
11,Eva,White,2024-07-01,LOC1,6,Regular,6
12,Frank,Green,2024-06-01,LOC2,4,CALL,0
13,Frank,Green,2024-06-01,LOC3,0,Regular,7
14,Grace,Hall,2024-07-01,LOC1,7,CALL,7

In [15]:
bonus_data = {
    'Name': [
        'John Doe', 'Alice Smith', 'Bob Brown', 'Carol Taylor', 
        'Dave Lee', 'Eva White', 'Frank Green', 'Grace Hall'
    ],
    'Facility': ['LOC1', 'LOC2', 'LOC1', 'LOC3', 'LOC1', 'null', 'LOC2', 'null'],
    'Bonus Type': ['Annual']*8,
    'Effective Date': ['2024-06-01']*8,
    'Start Date': ['2024-06-01']*8,
    'End Date': ['2024-06-30']*8,
    'Facility Start Date': ['2024-06-01']*8,
    'Facility End Date': ['2024-06-30']*8,
    'Payment Frequency': ['One-time']*8,
    'Total Amount': [200, 180, 150, 250, 160, 120, 100, 130],
    'Payment Amount': [200, 180, 150, 250, 160, 120, 100, 130],
    'Criteria Type': ['Hours']*8,
    'Week Days': ['Mon-Fri']*8,
    'Total Required': [160]*8,
    'Required /year': [1600]*8,
    'Bonus End Date': ['2024-06-30']*8,
    'Base Hours': [160]*8,
    'Fulfillment Status': ['Met']*8,
    'Payment Status': ['Paid']*8
}
df_bonus = pd.DataFrame(bonus_data)
display(df_bonus)

,Name,Facility,Bonus Type,Effective Date,Start Date,End Date,Facility Start Date,Facility End Date,Payment Frequency,Total Amount,Payment Amount,Criteria Type,Week Days,Total Required,Required /year,Bonus End Date,Base Hours,Fulfillment Status,Payment Status
0,John Doe,LOC1,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,200,200,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
1,Alice Smith,LOC2,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,180,180,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
2,Bob Brown,LOC1,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,150,150,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
3,Carol Taylor,LOC3,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,250,250,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
4,Dave Lee,LOC1,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,160,160,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
5,Eva White,null,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,120,120,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
6,Frank Green,LOC2,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,100,100,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid
7,Grace Hall,null,Annual,2024-06-01,2024-06-01,2024-06-30,2024-06-01,2024-06-30,One-time,130,130,Hours,Mon-Fri,160,1600,2024-06-30,160,Met,Paid

In [ ]:
import pandas as pd
import numpy as np

# Step 1: Format Pay Period Date
df_comp['Pay Period Start Date'] = pd.to_datetime(df_comp['Pay Period Start Date'])
df_comp['Month'] = df_comp['Pay Period Start Date'].dt.to_period('M').astype(str)

# Step 2: Filter out Bonus/Callback/Expenses
excluded = ['Bonus', 'call back', 'expenses']
df_filtered = df_comp[~df_comp['Pay Code Label'].str.lower().isin([e.lower() for e in excluded])].copy()

# Step 3: Calculate Effective Hours, if 'Pay Code Label' is 'CALL', use 'Schedule Duration (hours)', otherwise use 'Hours Rounded'
df_filtered['Effective Hours'] = np.where(
    df_filtered['Pay Code Label'].str.upper() == 'CALL',
    df_filtered['Schedule Duration (hours)'],
    df_filtered['Hours Rounded']
)

# Step 4: Location-wise group
location_hours = df_filtered.groupby(
    ['Staff First Name', 'Staff Last Name', 'Month', 'Location ID'],
    as_index=False
)['Effective Hours'].sum().rename(columns={'Effective Hours': 'Location_Hours'})

# Step 5: Monthly total hours
total_hours = location_hours.groupby(
    ['Staff First Name', 'Staff Last Name', 'Month'],
    as_index=False
)['Location_Hours'].sum().rename(columns={'Location_Hours': 'Total_Hours'})

# Step 6: Merge for percentages
result = pd.merge(location_hours, total_hours,
                  on=['Staff First Name', 'Staff Last Name', 'Month'])

result['Location_Percentage'] = round(
    (result['Location_Hours'] / result['Total_Hours']) * 100, 2
)

# Step 7: Prepare Bonus Data
df_bonus['Facility'] = df_bonus['Facility'].fillna('null')
df_bonus = df_bonus.rename(columns={'Total Amount': 'Bonus'})

# Split Name into first and last
df_bonus[['Staff First Name', 'Staff Last Name']] = df_bonus['Name'].str.extract(r'^(\w+)\s+(.*)$')

# Step 8: Merge Bonus into result
final_df = pd.merge(
    result,
    df_bonus,
    on=['Staff First Name', 'Staff Last Name'],
    how='left'
)

# Step 9: Filter based on Facility
final_df['Facility'] = final_df['Facility'].str.upper()
final_df['Location ID'] = final_df['Location ID'].str.upper()

final_df['Is_Matched_Facility'] = np.where(
    (final_df['Facility'] == 'NULL') | (final_df['Facility'] == final_df['Location ID']),
    True,
    False
)
final_df = final_df[final_df['Is_Matched_Facility']].copy()

# Step 10: Bonus Distribution
final_df['Bonus_Distributed'] = round(
    final_df['Bonus'] * final_df['Location_Percentage'] / 100, 2
)

# Final Output
final_output = final_df[[
    'Staff First Name', 'Staff Last Name', 'Month', 'Location ID',
    'Location_Hours', 'Total_Hours', 'Location_Percentage',
    'Bonus', 'Bonus_Distributed'
]]

# Display
display(final_output)

,Staff First Name,Staff Last Name,Month,Location ID,Location_Hours,Total_Hours,Location_Percentage,Bonus,Bonus_Distributed
0,Alice,Smith,2024-05,LOC2,8,8,100.00,180,180.00
1,Carol,Taylor,2024-07,LOC3,4,4,100.00,250,250.00
2,Eva,White,2024-07,LOC1,6,6,100.00,120,120.00
3,John,Doe,2024-06,LOC1,8,11,72.73,200,145.46